In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials 

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
file_id = '1ZCiTN-crxvIzWCFmzDFy_y4qQcf58lP-' # url에서 file id만 copy/paste
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('titanic_train.csv')

In [0]:
import pandas as pd
titanic_df = pd.read_csv('titanic_train.csv')

In [9]:
import numpy as np

col_name1=['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)

print('array1 shape:', array1.shape)
df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 list DataFrame:\n', df_list1)
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray DataFrame:\n', df_array1)

array1 shape: (3,)
1차원 list DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray DataFrame:
    col1
0     1
1     2
2     3

In [12]:
# 2x3 list -> ndarray -> DataFrame

col_name2 = ['col1', 'col2', 'col3']
list2 = [[1, 2, 3],
         [11, 12, 13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape)
df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2차원 list to DataFrame:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray to DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 list DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [15]:
# dictionary -> DataFrame
dict = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dict = pd.DataFrame(dict)
print('dict to DataFrame:\n', df_dict)

# DataFrame -> ndarray
array3 = df_dict.values
print('df_dict.values type :', type(array3), 'df_dict.values shape:', array3.shape)

# DataFrame to list
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() type:', type(list3))
print(list3)

# DataFrame to dictionary
dict3 = df_dict.to_dict('list')
print('\n df_dict.to_dict() type:', type(dict3))
print(dict3)

dict to DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33
df_dict.values type : <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
df_dict.values.tolist() type: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() type: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}